.card {
  border: 7px solid #076eeb; /* Add a border to create the card effect */
  
  border-radius: 15px; /* Adjust the value to control the roundness */
  padding: 10px; /* Add padding to space out the content */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  background-color: rgb(200, 229, 248); /* Set the background color */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns in each row */
  grid-gap: 20px; /* Add some spacing between cards */
  padding: 20px; /* Add spacing around the container */
}

.card h4 {
  margin: 0; /* Remove margin for the title */
}

.card p {
  margin: 4px 0; /* Add spacing between paragraphs */
}

ul.cards {
  list-style: none;
}

div.cards {
  list-style: none;
}